<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#008080">
    <link rel="stylesheet" href="{{ '/assets/css/style_theme.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
	
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ page.title }}</h1>
      <div class="row" style="padding-bottom:40px;">
        <div class="col-md-3 col-md-offset-3 col-sm-12 author">
            <!--
            <img class="avatar" src="images/lingyuzhu_circle.png"/>
            -->
            <div>
                <a href="https://ly-zhu.github.io">Lingyu Zhu</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 author">
            <!--
            <img class="avatar" src="images/lingyuzhu_circle.png"/>
            -->
            <div>
                <a href="http://esa.rahtu.fi">Esa Rahtu</a>
            </div>
        </div>
    </div>
    <div class="date"><span class="glyphicon glyphicon-calendar"></span> June 8th 2020</div>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168697816-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168697816-1');
      </script>
    {% endif %}

  </body>
</html>
